<div class="widgets" ng-init="consultar()">
        <div class="row">
            <div class="col-md-12" ba-panel ba-panel-title="Registro" ba-panel-class="with-scroll">
                <form  name="formImpuesto" id="formImpuesto" ng-submit="guardar()">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group" ng-class="{'has-error': (formImpuesto.factor_imp.$invalid && formImpuesto.factor_imp.$dirty)}">
                                <label for="factor_imp" class="control-label">Impuesto </label>
                                <input type="hidden" name="id_imp" id="id_imp" ng-model="data.id_imp" />
                                <input type="text" class="form-control" name="factor_imp" id="factor_imp" ng-model="data.factor_imp" idarea="data.factor_imp" ng-required="true" style="text-align:right;"/>
                            </div>            
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <button type="button" class="btn-default btn" id="btn-listado" name="btn-listado" ng-click="listado()">
                                <i class="fa fa-list"></i> Listado
                            </button>
                            <button type="submit" id="btn_guardar" name="btn_guardar" class="btn btn-success" ng-disabled="formImpuesto.$invalid">
                                <i class="fa fa-check"></i> Guardar
                            </button>
                        </div>            
                    </div>
                </form>
            </div>
        </div>
    </div>