<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Otros gastos" ba-panel-class="with-scroll">
            <form  name="formOtrosgastos" id="formOtrosgastos" ng-submit="guardar()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{'has-error': (formOtrosgastos.id_area.$invalid && formOtrosgastos.id_area.$dirty)}">
                            <input type="hidden" name="id_otrg" id="id_otrg" ng-model="data.id_otrg" />
                            <label for="id_area" class="control-label">Area Proyecto </label>
                            <ui-select name="id_area" id="id_area" ng-model="data.id_area" class="btn-group bootstrap-select form-control" ng-required="true" >
                                <ui-select-match placeholder="Area Proyecto">{{$select.selected.label}}</ui-select-match>
                                <ui-select-choices repeat="area in areas_proyectos | filter: $select.search">
                                <div ng-bind-html="area.label | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{'has-error': (formOtrosgastos.periodo.$invalid && formOtrosgastos.periodo.$dirty)}">
                            <label for="periodo" class="control-label">Periodo:</label>
                            <input type="date" class="form-control" name="periodo" id="periodo" ng-model="data.periodo" ng-disabled="formOtrosgastos.id_area.$invalid" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{'has-error': (formOtrosgastos.monto.$invalid && formOtrosgastos.monto.$dirty)}">
                            <label for="monto" class="control-label">Monto:</label>
                            <input type="text" class="form-control" id="monto" name="monto" ng-model="data.monto" ng-disabled="formOtrosgastos.periodo.$invalid" ng-required="true" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" ng-click="listado()" class="btn btn-default">
                        <i class="fa fa-list"></i> Listado
                    </button>
                    <button type="submit" id="" value="" class="btn btn-success" ng-disabled="formOtrosgastos.$invalid">
                        <i class="fa fa-check"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>