<div class="widgets">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Otros gastos" ba-panel-class="with-scroll">
            <form  name="formRptedoresult" id="formRptedoresult">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': (formRptedoresult.inicio.$invalid && formRptedoresult.inicio.$dirty)}">
                            <label for="inicio" class="control-label">Desde:</label>
                            <input type="date" class="form-control" name="inicio" id="inicio" ng-model="data.inicio" value="{{data.inicio}}" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': (formRptedoresult.fin.$invalid && formRptedoresult.fin.$dirty)}">
                            <label for="fin" class="control-label">Hasta: </label>
                            <input type="date" class="form-control" name="fin" id="fin" ng-model="data.fin" value="{{data.fin}}" ng-disabled="formRptedoresult.inicio.$invalid" ng-required="true" date-init="data.inicio" valid-range-end />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{'has-error': (formRptedoresult.id_area.$invalid && formRptedoresult.id_area.$dirty)}">
                            <label for="id_area" class="control-label">Area Proyecto </label>
                            <ui-select name="id_area" id="id_area" ng-model="data.id_area" class="btn-group bootstrap-select form-control" ng-disabled="formRptedoresult.fin.$invalid" ng-required="true" >
                                <ui-select-match placeholder="Area Proyecto">{{$select.selected.label}}</ui-select-match>
                                <ui-select-choices repeat="area in areas_proyectos | filter: $select.search">
                                    <div ng-bind-html="area.label | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" id="btn-consultar" value="btn-consultar" class="btn btn-success" ng-disabled="formRptedoresult.$invalid" ng-click="consultar()">
                        <i class="fa fa-cogs"></i> Generar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>