<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Estado Resultado" ba-panel-class="with-scroll">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td style="text-align:left;">Saldo Inicial</td><td colspan="3"></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:left;">Ventas</td>
                        <td style="text-align:right;">{{data.tot_vta | number:2}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(+) Ventas Contado</td>
                        <td style="text-align:right;">{{data.monto_vtacont | number:2}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(+) Ventas Credito</td>
                        <td style="text-align:right;">{{data.monto_vtacred | number:2}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:left;">Costo Ventas</td>
                        <td style="text-align:right;">{{data.tot_cv | number:2}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(+) Inventario Inicial</td>
                        <td style="text-align:right;">{{data.monto_ii | number:2}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(+) Gastos durante el periodo</td>
                        <td style="text-align:right;">{{data.monto_gv | number:2}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(-) Inventario Final</td>
                        <td style="text-align:right;">{{data.monto_if | number:2}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:left;">Utilidad Bruta</td>
                        <td style="text-align:right;">{{data.utilbruta_er | number:2}}</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:left;">Gastos Generales</td>
                        <td style="text-align:right;">{{data.monto_gg | number:2}}</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:left;">Utilidad Operativa</td>
                        <td style="text-align:right;">{{data.utiloperativ_er | number:2}}</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:left;">Impuestos</td>
                        <td style="text-align:right;">{{data.impuestos_er | number:2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>