<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Area Proyecto" ba-panel-class="with-scroll">
            <form  name="formAProyecto" id="formAProyecto" ng-submit="guardar()">
                <div class="row">
                    <div class="form-group" ng-class="{'has-error': (formAProyecto.nom_areaproy.$invalid && formAProyecto.nom_areaproy.$dirty)}">
                        <label for="nom_areaproy" class="col-md-2 col-sm-3 control-label">Area Proyecto </label>
                        <div class="col-md-10 col-sm-8">
                            <input type="hidden" name="id_areaproy" id="id_areaproy" ng-model="data.id_areaproy" />
                            <input type="text" class="form-control" name="nom_areaproy" id="nom_areaproy" ng-model="data.nom_areaproy" areaproye-exist idarea="data.id_areaproy" ng-required="true" />
                        </div>
                    </div>            
                </div>
                <div class="row">
                    <div class="form-group">
                        <button type="button" class="btn-default btn" id="btn-listado" name="btn-listado" ng-click="listado()">
                            <i class="fa fa-list"></i> Listado
                        </button>
                        <button type="submit" id="btn_guardar" name="btn_guardar" class="btn btn-success" ng-disabled="formAProyecto.$invalid">
                            <i class="fa fa-check"></i> Guardar
                        </button>
                    </div>            
                </div>
            </form>
        </div>
    </div>
</div>