<div class="widgets">
        <div class="row">
            <div class="col-md-12" >
                <div ba-panel ba-panel-title="Listado <i ng-click='agregar()' class='fa pull-right fa-plus'></i>" ba-panel-class="with-scroll">
                    <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                        <thead>
                            <tr class="sortable ">
                                <th style="width:5%;" class="table-id" st-sort="id" st-sort-default="true">#</th>
                                <th style="width:85%">Impuesto</th>
                                <th style="width:10%;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr st-select-row="row" st-select-mode="multiple" ng-repeat="item in displayed">
                            <td class="table-id" style="text-align: right;">{{item.item}}</td>
                            <td>{{item.factor_imp}}</td>
                            <td>
                                <div class="btn-group" role = "group" >
                                    <button class="btn btn-xs btn-success" ng-click="editar(item.id_imp)"  title ="Editar"><i class="fa fa-pencil" ></i></button>
                                    <button class="btn btn-xs" ng-class="(item.activo_imp=='1')?'btn-primary':'btn-default'" ng-click="change_default(item.id_imp, item.activo_imp, displayed.indexOf(item))"  title = "Activar/Inactivar" ><i class="fa" ng-class="(item.activo_imp=='1')?'fa-toggle-on':'fa-toggle-off'" > </i></button>
                                </div>
                            </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                            <td colspan="4" class="text-center" st-pagination="" st-items-by-page="10" ></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
        