<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Registro de Usuario" ba-panel-class="with-scroll">
            <form name="formUsuario" id="formUsuario" ng-submit="guardar()">
                <div class="row">
                    <div class="form-group" ng-class="{'has-error': (formUsuario.user.$invalid && formUsuario.user.$dirty)}">
                        <label for="input01">Usuario:</label>
                        <input type="hidden" name="id_usuario" id="id_usuario" ng-model="data.id_usuario" />
                        <input type="text" class="form-control" name="user" id="user" ng-model="data.user" ng-required="true" usuario-exist idusuario="data.id_usuario" />
                    </div>            
                </div>
                <div class="row" ng-class="{'has-error': (formUsuario.password.$invalid && formUsuario.password.$dirty)}">
                    <div class="form-group">
                        <label for="input02">Password</label>
                        <input type="password" class="form-control" id="password" name="password" ng-model="data.password" ng-disabled="formUsuario.user.$invalid" ng-required="true" placeholder="Password">
                    </div>                                
                </div>
                <div class="row">
                    <div class="form-group" ng-class="{'has-error': (formUsuario.rep_password.$invalid && formUsuario.rep_password.$dirty)}">
                        <label for="rep_password">Rep. Password</label>
                        <input type="password" class="form-control" id="rep_password" name="rep_password" ng-model="data.rep_password" ng-disabled="formUsuario.password.$invalid" ng-required="true" placeholder="Password" equal-to password="data.password" />
                    </div>                                
                </div>
                <div class="row">
                    <div class="form-group" ng-class="{'has-error': (formUsuario.id_rol.$invalid && formUsuario.id_rol.$dirty)}">
                        <label for="input05">Rol </label>
                        <select name="id_rol" id="id_rol" class="form-control" ng-model="data.id_rol" ng-options="item as item.label for item in roles" ng-required="true" ng-disabled="formUsuario.rep_password.$invalid" ></select>
                    </div>                            
                </div>
                <div class="row">
                    <button type="submit" id="" value="" class="btn btn-success" ng-disabled="formUsuario.$invalid">
                        <i class="fa fa-check"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>