<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Registro" ba-panel-class="with-scroll">
            <form  name="formInventario" id="formInventario" ng-submit="guardar()">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group" ng-class="{'has-error': (formInventario.id_area.$invalid && formInventario.id_area.$dirty)}">
                            <input type="hidden" name="id_inv" id="id_inv" ng-model="data.id_inv" />
                            <label for="id_area" class="control-label">Area Proyecto</label>
                            <ui-select name="id_area" id="id_area" ng-model="data.id_area" class="btn-group bootstrap-select form-control" ng-required="true" >
                                <ui-select-match placeholder="Area Proyecto">{{$select.selected.label}}</ui-select-match>
                                <ui-select-choices repeat="area in areas_proyectos | filter: $select.search">
                                <div ng-bind-html="area.label | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" ng-class="{'has-error': (formInventario.periodo.$invalid && formInventario.periodo.$dirty)}">
                            <label for="input01" class="control-label">Periodo:</label>
                            <input type="date" class="form-control" name="periodo" id="periodo" ng-model="data.periodo" ng-disabled="formInventario.id_area.$invalid" ng-required="true" />
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="input01" class="control-label">Inventario Inicial:</label>
                            <input type="text" class="form-control" id="monto_ini" name="monto_ini" ng-model="data.monto_ini" ng-style="{'text-align':'right'}" ng-disabled="formInventario.periodo.$invalid" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{'has-error': (formInventario.monto.$invalid && formInventario.monto.$dirty)}">
                            <label for="monto" class="control-label">Inventario Final:</label>
                            <input type="text" class="form-control" id="monto_fin" name="monto_fin" ng-model="data.monto_fin" ng-style="{'text-align':'right'}" ng-disabled="formInventario.periodo.$invalid" ng-required="true" />
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <button type="button" class="btn btn-default" ng-click="listado()">
                        <i class="fa fa-list">
                            Listado
                        </i>
                    </button>
                    &nbsp;&nbsp;
                    <button type="submit" id="" value="" class="btn btn-success" ng-disabled="formInventario.$invalid">
                        <i class="fa fa-check"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>