<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Gastos Generales Insumo" ba-panel-class="with-scroll">
            <form  name="formInsumos" id="formInsumos" ng-submit="guardar()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{'has-error': (formInsumos.id_area.$invalid && formInsumos.id_area.$dirty)}">
                            <input type="hidden" name="id_inu" id="id_inu" ng-model="data.id_insumo" />
                            <label for="id_area" class="control-label">Area Proyecto </label>
                            <ui-select name="id_area" id="id_area" ng-model="data.id_area" class="btn-group bootstrap-select form-control" ng-required="true" >
                                <ui-select-match placeholder="Area Proyecto">{{$select.selected.label}}</ui-select-match>
                                <ui-select-choices repeat="area in areas_proyectos | filter: $select.search">
                                <div ng-bind-html="area.label | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{'has-error': (formInsumos.periodo.$invalid && formInsumos.periodo.$dirty)}">
                            <label for="input01" class="control-label">Periodo:</label>
                            <input type="date" class="form-control" name="periodo" id="periodo" ng-model="data.periodo" ng-disabled="formInsumos.id_area.$invalid" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{'has-error': (formInsumos.monto.$invalid && formInsumos.monto.$dirty)}">
                            <label for="monto" class="control-label">Monto:</label>
                            <input type="text" class="form-control" id="monto" name="monto" ng-style="{'text-align': 'right'}" ng-model="data.monto" ng-disabled="formInsumos.periodo.$invalid" ng-required="true" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" id="" value="" class="btn btn-success" ng-disabled="formInsumos.$invalid">
                        <i class="fa fa-check"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>