<div class="widgets">
    <div class="row">
        <div class="col-md-12" >
            <div ba-panel ba-panel-title="Listado de Usuarios <i ng-click='agregar()' class='fa pull-right fa-plus'></i>" ba-panel-class="with-scroll">
                <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                    <thead>
                        <tr>
                        <th></th>
                        <th>
                            <input st-search="sigla_banco" class="input-sm form-control" placeholder="Buscar por Sigla" type="search"/>
                        </th>
                        <th colspan="2">
                            <input st-search="nombre_banco" class="input-sm form-control" placeholder="Buscar por Nombre" type="search"/>
                        </th>
                        </tr>
                        <tr class="sortable ">
                        <th style="width:5%;" class="table-id" st-sort="id" st-sort-default="true">#</th>
                        <th style="width:50%">Usuario</th>
                        <th style="width:35%;">Rol</th>
                        <th style="width:10%;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr st-select-row="row" st-select-mode="multiple" ng-repeat="item in displayed">
                        <td class="table-id" style="text-align: right;">{{item.item}}</td>
                        <td>{{item.nomb_usr}}</td>
                        <td>{{item.nom_rol}}</td>
                        <td>
                            <div class="btn-group" role = "group" >
                                <button class="btn btn-xs btn-success" ng-click="editar(item.id_usr)"  title ="Editar"><i class="fa fa-pencil" ></i></button>
                                <button class="btn btn-xs" ng-class="(item.status=='1')?'btn-success':'btn-danger'" ng-click="change_status(item.id_usr, item.status, displayed.indexOf(item))"  title = "Activar/inactivar" ><i class="fa" ng-class="(item.status=='1')?'fa-check':'fa-ban'" > </i></button>
                                <button class="btn btn-xs btn-danger" ng-click="eliminar(item.id_usr)"  title = "Borrar" ><i class="fa fa-trash" > </i></button>
                            </div>
                        </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                        <td colspan="4" class="text-center" st-pagination="" st-items-by-page="10" ></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
    