<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Gastos Generales Sueldo" ba-panel-class="with-scroll">
            <form  name="formSueldos" id="formSueldos" ng-submit="guardar()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{'has-error': (formSueldos.id_area.$invalid && formSueldos.id_area.$dirty)}">
                            <input type="hidden" name="id_sue" id="id_sue" ng-model="data.id_sue" />
                            <label for="id_area" class="control-label">Area Proyecto </label>
                            <ui-select name="id_area" id="id_area" ng-model="data.id_area" class="btn-group bootstrap-select form-control" ng-required="true" >
                                <ui-select-match placeholder="Area Proyecto">{{$select.selected.label}}</ui-select-match>
                                <ui-select-choices repeat="area in areas_proyectos | filter: $select.search">
                                <div ng-bind-html="area.label | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{'has-error': (formSueldos.periodo.$invalid && formSueldos.periodo.$dirty)}">
                            <label for="periodo" class="control-label">Periodo:</label>
                            <input type="date" class="form-control" name="periodo" id="periodo" ng-model="data.periodo" ng-required="true" ng-disabled="formSueldos.id_area.$invalid" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{'has-error': (formSueldos.monto.$invalid && formSueldos.monto.$dirty)}">
                            <label for="monto" class="control-label">Monto:</label>
                            <input type="text" class="form-control" id="monto" name="monto" ng-model="data.monto" ng-style="{'text-align': 'right'}" ng-disabled="formSueldos.periodo.$invalid" ng-required="true" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" id="btn-listado" class="btn btn-default" ng-click="listado()">
                        <i class="fa fa-list"></i> Listado
                    </button>
                    &nbsp;&nbsp;
                    <button type="submit" id="" value="" class="btn btn-success" ng-disabled="formSueldos.$invalid">
                        <i class="fa fa-check"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>