        <!-- build:css({.tmp/serve,src}) styles/auth.css -->
        <!-- inject:css -->
        <!-- css files will be automatically insert here -->
        <!-- endinject -->
        <!-- endbuild -->

<main class="auth-main">
    <div class="auth-block">
        <h1>SISPG - ADMIN</h1>

        <form name="formLogin" id="formLogin" class="form-horizontal" ng-submit="signIn()">
        <div class="form-group" ng-class="{'has-error':formLogin.usuario.$invalid}">
            <label for="inputEmail3" class="col-sm-2 control-label">Usuario</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="usuario" ng-model="data.username" name="usuario" placeholder="Usuario" ng-required="true" />
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': formLogin.password.$invalid}">
            <label for="inputPassword3" class="col-sm-2 control-label">Contraseña</label>
            <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" ng-model="data.clave" placeholder="Password" ng-disabled="formLogin.usuario.$invalid" ng-required="true" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn-auth" ng-disabled="formLogin.$invalid">Ingresar</button>
            <!--a href class="forgot-pass">Forgot password?</a-->
            </div>
        </div>
        </form>

        <!--div class="auth-sep"><span><span>or Sign in with one click</span></span></div-->
    </div>
</main>