<div class="widgets">
    <div class="row">
        <div class="col-md-12" >
            <div ba-panel ba-panel-title="Listado <i ng-click='agregar()' class='fa pull-right fa-plus'></i>" ba-panel-class="with-scroll">
                <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                    <thead>
                        <tr class="sortable ">
                            <th style="width:5%;" class="table-id" st-sort="id" st-sort-default="true">#</th>
                            <th style="width:30%">Area Proyecto</th>
                            <th style="width:19%">Periodo</th>
                            <th style="width:18%; text-align:right;">Monto Inicial</th>
                            <th style="width:18%; text-align:right;">Monto Final</th>
                            <th style="width:10%;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr st-select-row="row" st-select-mode="multiple" ng-repeat="item in displayed">
                        <td class="table-id" style="text-align: right;">{{item.item}}</td>
                        <td>{{item.desc_arp}}</td>
                        <td>{{item.mes_ii}}-{{item.anio_ii}}</td>
                        <td ng-style="{'text-align':'right'}">{{item.monto_ini}}</td>
                        <td ng-style="{'text-align':'right'}">{{item.monto_fin}}</td>
                        <td>
                            <div class="btn-group" role = "group" >
                                <button class="btn btn-xs btn-success" ng-click="editar(item.id_inv)"  title ="Editar"><i class="fa fa-pencil" ></i></button>
                                <button class="btn btn-xs btn-danger" ng-click="eliminar(item.id_inv, displayed.indexOf(item))"  title = "Borrar" ><i class="fa fa-trash" > </i></button>
                            </div>
                        </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                        <td colspan="4" class="text-center" st-pagination="" st-items-by-page="10" ></td>
                        </tr>
                    </tfoot>
                    </table>              
            </div>
        </div>
    </div>
</div>